<div class="container">
    <h1>Actualizar Post</h1>
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="actualizarPost(post.id)" #postForm="ngForm">
                <div class="form-group">
                    <label for="name">Titulo</label>
                    <input type="text" class="form-control" [(ngModel)]="post.titulo" name="Titulo" required>
                </div>
                <div class="form-group">
                    <label for="name">Descripcion</label>
                    <input type="text" class="form-control" [(ngModel)]="post.descripcion" name="Descripcion" required>
                </div>
                <div class="form-group">
                    <label for="name">Autor</label>
                    <input type="text" class="form-control" [(ngModel)]="post.autor" name="Autor" required>
                </div>
                <div class="form-group">
                    <label for="name">Categoria</label>
                    <input type="text" class="form-control" [(ngModel)]="post.categoria" name="Categoria" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="!postForm.form.valid">Actualizar</button>&nbsp;
                    <button class="btn btn-info" [routerLink]="['/posts']">Ver Posts</button>
                </div>
            </form>
        </div>
    </div>

</div>

