<div class="container">
    <h1>Lista de  Posts 
        <button class="btn btn-sm btn-outline-success" [routerLink]="['/posts/crear']">Nuevo Post</button>
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">Titulo</th>
                <th style="text-align: center;">Descripcion</th>
                <th style="text-align: center;">Autor</th>
                <th style="text-align: center;">Categoria</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{ post.titulo }}</td>
                <td>{{ post.descripcion}}</td>
                <td>{{ post.autor}}</td>
                <td>{{ post.categoria}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-outline-success" [routerLink]="['/posts/details', post.id]">Ver</a>&nbsp;
                        <a class="btn btn-sm btn-outline-warning" [routerLink]="['/posts/actualizar', post.id]">Edit</a>&nbsp;
                        <a class="btn btn-sm btn-outline-danger" [routerLink]="['/posts']" (click)="borrarPost(post.id)">Borrar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
